# Constraints for Numato Saturn - Spartan 6 FPGA Development Board with DDR SDRAM 
#  http://numato.com/fpga-boards/xilinx/spartan6/saturn-spartan-6-fpga-development-board-with-ddr-sdram.html
# Openbench Logic Sniffer

NET "dbg[0]" LOC = J13;
NET "dbg[1]" LOC = H13;
NET "dbg[2]" LOC = G16;
NET "dbg[3]" LOC = F17;
NET "dbg[4]" LOC = D17;
NET "dbg[5]" LOC = B16;
NET "dbg[6]" LOC = D14;
NET "dbg[7]" LOC = F13;
NET "dbg[8]" LOC = F12;
NET "dbg[9]" LOC = B12;
NET "dbg[10]" LOC = D11;
NET "dbg[11]" LOC = B11;
NET "dbg[12]" LOC = G9;
NET "dbg[13]" LOC = B9;
NET "dbg[14]" LOC = E7;

NET "dbg_clk" LOC = C11;
NET "dbg_trig" LOC = A12;
