# Constraints for Numato Saturn - Spartan 6 FPGA Development Board with DDR SDRAM 
#  http://numato.com/fpga-boards/xilinx/spartan6/saturn-spartan-6-fpga-development-board-with-ddr-sdram.html
# ULPI shield constraints

NET "ulpi_clk60" PERIOD = 16666 ps;

NET "ulpi_data[*]" IOSTANDARD = LVTTL;
NET "ulpi_clk60" IOSTANDARD = LVTTL;
NET "ulpi_dir" IOSTANDARD = LVTTL;
NET "ulpi_nxt" IOSTANDARD = LVTTL;
NET "ulpi_reset" IOSTANDARD = LVTTL;
NET "ulpi_stp" IOSTANDARD = LVTTL;
NET "led" IOSTANDARD = LVTTL;

NET "ulpi_clk60" LOC = R8;
NET "ulpi_data[0]" LOC = T4;
NET "ulpi_data[1]" LOC = V4;
NET "ulpi_data[2]" LOC = U5;
NET "ulpi_data[3]" LOC = V5;
NET "ulpi_data[4]" LOC = T6;
NET "ulpi_data[5]" LOC = V6;
NET "ulpi_data[6]" LOC = N6;
NET "ulpi_data[7]" LOC = P7;
NET "ulpi_stp" LOC = V8;
NET "ulpi_dir" LOC = U8;
NET "ulpi_nxt" LOC = N8;
NET "ulpi_reset" LOC = M8;
NET "led" LOC = T8;
