# Constraints for Numato Saturn - Spartan 6 FPGA Development Board with DDR SDRAM 
#  http://numato.com/fpga-boards/xilinx/spartan6/saturn-spartan-6-fpga-development-board-with-ddr-sdram.html
# SPI flash constraints

NET "spi_cs" IOSTANDARD = LVTTL;
NET "spi_sck" IOSTANDARD = LVTTL;
NET "spi_mosi" IOSTANDARD = LVTTL;
NET "spi_miso" IOSTANDARD = LVTTL;

NET "spi_cs" LOC = V3;
NET "spi_sck" LOC = R15;
NET "spi_mosi" LOC = T13;
NET "spi_miso" LOC = R13;
